<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MeuGitHub" value="https://nuget.pkg.github.com/dmodesigner/index.json" />
  </packageSources>
  
  <packageSourceCredentials>
    <MeuGitHub>
      <add key="Username" value="dmodesigner" />
      <add key="ClearTextPassword" value="" />
    </MeuGitHub>
  </packageSourceCredentials>
</configuration>