<div class="container-fluid bg-dark text-white py-4">

    <div class="container">

        <div class="row">

            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">

                &copy; @DateTime.Now.Year <a class="border-bottom text-secondary" href="@Designer.Url">@Designer.Nome</a>, Todos os direitos reservados.

            </div>

            <div class="col-md-6 text-center text-md-end">
                Designer por <a class="border-bottom text-secondary" href="https://htmlcodex.com" target="_blank">HTML Codex</a>
            </div>

        </div>

    </div>

</div>